<div id="introduction" class="d-flex align-items-center mb-2">
    <div class="col col-12 col-md-3 col-lg-2 offset-md-8 offset-lg-9 text-center">
        <h1 class="mb-5">Move and Grooove</h1>
        <p class="jump ">Sit up | Sit Down | Repeat </p> <br>
        <a  class="btn my-button" href = '<%= new_user_registration_path %>'>Sign Up</a>
        <a  class="btn my-button filled" href = '<%= new_user_session_path %>'>Sign In</a>
    </div>
</div>

<div class="container-fluid mb-2	">
 <div id="panl2" class="row pt-4 pb-4">
     <div id = 'description' class="col col-10 col-md-6 offset-1 offset-md-0 d-flex flex-column justify-content-center align-items-center">
         <h2>Your wake up call</h2>
         <p class="m-0 m-md-5 font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ullamcorper, orci quis sodales congue, lectus neque lobortis massa, nec pharetra diam nulla tristique enim. Nunc vulputate nunc eu massa convallis suscipit. In sit amet ligula eget arcu mollis lobortis. Vivamus condimentum quam at molestie porta. Suspendisse ultricies pharetra nisi at commodo. Vestibulum risus dui, gravida eget mauris vitae, cursus tristique mi. Nullam nibh lorem, venenatis ac neque sit amet, dignissim mollis enim. Mauris sit amet dolor massa. Phasellus ut lobortis nisi. </p>
     </div>
     <div id='back-watch' class="col col-10 col-md-6 offset-1 offset-md-0">
     </div>
 </div>
</div>

<%= javascript_pack_tag 'home/home'%>