
.navbar {
    background: rgba(2, 2, 2, 0.95);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10vh;
}

.navbar-brand {
    font-size: 1.5rem
}

#introduction {
    height: 100vh;
    background-image: url('pg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}



.jump {
    animation: loading 2s ease infinite;
}

@keyframes loading {
    0% {
        transform: translateY(-10%);
    }

    50% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(-10%);
    }
}


.my-button {
    color: #fff;
    background: transparent;
    transition: all .4s ease-in-out;
    background-size: 100% 300%;
    background-image: linear-gradient(to bottom, transparent, transparent, transparent, transparent, #fff, #fff, #fff, #fff);
    border-radius: 0;
    border: 1px solid #fff;
    cursor: pointer;
}


.my-button:hover {
    background-position: 0 100%;
    transition: all .4s ease-in-out;
}

.my-button.filled {
    background-position: 0 100%;
    color: #212529;
}

.my-button.filled:hover {
    background-position: 0 0;
    transition: all .4s ease-in-out;
    color: #fff;
}


.invert {
    filter: invert(1);
}


::placeholder {
    color: #4d4646;
}


#panl2 {
    height: auto;
    background-color: rgba(2, 2, 2, 0.95);
    color: #fff;
}

#back-watch {
    background-image: url('icons8-team-dhZtNlvNE8M-unsplash.jpg');
    height: 100%;
    min-height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.5s all;
    filter: blur(2px) grayscale(1);
}

#back-watch:hover {
    filter: blur(0px) grayscale(0.5);
    transition: 0.5s all;
}



footer {
    height: 40vh;
    background-color: #020202;
    color: #fff;
    font-weight: 200;
    font-size: 1.2rem
}

footer a {
    color: #fff;
}
footer a:hover{
    color: #fff;
}
footer p
{
    width: 50%;
    margin:auto;
}
footer #foot_center ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin-top: 2rem;
}
footer #foot_center ul li
{
    border: 1px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms;
}
footer #foot_center ul li:hover{
    background-color: #fff;
    color:#000 !important;
}
footer ul{
    list-style: none;
}


.field input {
    width: 70%;
    border: 0;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #020202;
    margin-bottom: 2em;
    transition: 0.5s;
    line-height: 2.5rem;
}
.field input.dark-back
{
    background: rgba(0,0,0,0.1);
}

.field input:focus {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}


#pageBody {
    /* margin-top: 20vh; */
    margin-top: calc(20vh + 3rem);
    min-height: 90vh;
}

#loginForm {
    text-align: center;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 50vh;
    padding: 3vh 5vw 5vh 5vw;

}


#pageBackground {
    z-index: -1;
    background-image: url('steven-lelham-atSaEOeE8Nk-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    filter: blur(2px);
}


.makeItBig {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 2px;

}


.activity {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.activity p{
    margin: 0
}

.activity_img img {
    width: 100%;
}


.stopwatch img,
img.stopwatch {
    width: 20px;
}

.activity_footer a {
    color: grey;
}

#activities {
    min-height: 80vh;
}

#activity-info div:nth-child(1),
#activity-info div:nth-child(2) {
    border-bottom: solid 1px grey;
}





/*test 3d*/
/*scena*/
.activities-container {
    /*width: 200px;*/
    min-height: 40vh;
    margin: 40px 0;
    perspective: 1600px;
}


/*oggetto*/
.activity-category {
    width: 100%;
    /* min-height: 25vh; */
    min-height: calc(13em + 1rem);
    transition: all .7s;
    transform-style: preserve-3d;
    position: relative;
    transform-origin: top center;
}


/*facce*/
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    backface-visibility: visible;
    display: flex;
}

.face-front {
    background: rgba(15, 15, 15, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.face-front img {
    max-width: 50%;
    filter: invert(1);
}

.face-front div {
    display: inherit;
    flex-direction: row;
}
.face-front p
{
    width: 95%;
}

.face-back {
    background: rgba(15, 15, 15, 0.95);
    transition: all .7s;
    transform: translateZ(-50px) rotateX(180deg);
    padding: 1em
}

.face p {
    margin: 0
}

.activity-category.is-flipped {
    transform: translateY(100%) rotateX(-180deg);
}

.activity-category.is-flipped .face-back {
    transform: translateZ(-200px) rotateX(180deg);
}

.activity-list {
    list-style: none;
    padding: 0;
    width: 100%;
}


.activity-list li {
    line-height: 2.5em;
    transition: all .7s;
    margin: 0;
    padding: 0 1em;
    cursor: pointer;
}



.activity-list li:hover,
.activity-list li.selected {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.2);
}

.activity-list li:nth-child(odd) input {
    text-align: left;
}

.activity-list li:nth-child(even) input {
    text-align: right;
}

.activity-list li input {
    width: 100%;
    background: transparent;
    border: 0;
    color: #fff;
    text-align: left;
}

.activity-list-back {
    position: absolute;
    left: 10px;
    bottom: 10px;
    cursor: pointer;
}


/*show activity*/

.vh50 {
    height: 50vh;
}

#activity-single {
    min-height: 80vh;
}

#activity-single #act-date,
#activity-single #act-mins {
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid #fff;
    color: rgba(255, 255, 255, 0.5);
}

#activity-single #act-date p,
#activity-single #act-mins p {
    font-size: 4rem;
    color: #fff;
}


/* Error list from */

#errors-tootip{
    position: fixed;
    bottom: 10px;
    right: 20px;
    background: transparent;
    color: #fff;
    transition: all 3s;
    opacity: 0;
    z-index: 10;
}
#errors-tootip ul{
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}
#errors-tootip ul li 
{
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 1.3rem;
    background: #000;
    border-radius: 5px;
}
#errors-tootip.err-show{

    opacity: 0.8;
}



#errors ul {
    padding: 0;
    margin: 0;
}
#errors ul li
{
    width: 100px;
    height: 50px;
    background: black;
    color: white;
}






