



<div id='pageBody' class="with-header">
  <div id="activities" class="col col-12 pt-5">

    <div class="mt-5 d-flex flex-wrap justify-content-between">
      <p class="h1">Activities</p>
      <a href="<%= new_activity_path %>" class="btn my-button filled"><span class="makeItBig">+</span> <b>New
          Activity</b></a>
    </div>
    <div>
      <p class="mt-2 mb-2">
        Is that simple! <br>
        Choose an activity and, add the date and we'll do the rest. <br>
      </p>
    </div>
    <div class="activities_container mt-5 mb-5">
      <% @activities.each do | activity | %>
        <%= render 'activityCard', activity: activity %>
      <% end %>
    </div>
  </div>
</div>